section {
  div {
    div {
      div {
        .card {
          color: black;
          height: 30rem;
          margin-left: 2.5rem;
          margin-bottom: 1rem;

          div {
            .btn-title {
              background-image: linear-gradient(
                90deg,
                rgb(255, 255, 255),
                rgb(248, 230, 230)
              );
              border: none;
            }
            .card-parrafo {
              margin-top: 2.5rem;
            }
            .card-parrafo2 {
              margin-top: 8rem;
            }
            .btn {
              color: white;
              background-color: $primary;
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}
