footer {
  background-image: linear-gradient(90deg, $navbar1, $navbar3);
  padding-top: 5rem;
}

.subtitulos {
  font-size: 25px;
}

.subtitulos-footer {
  font-size: 15px;
}

.subtitulos-redes {
  font-size: 25px;
  color: black;
}

.logo {
  width: 20px;
  height: 20px;
}
