#section2 {
  div {
    div {
      div {
        .parrafo {
          color: black;
          font-size: 2rem;
        }
      }
      div {
        .img-fluid {
          height: 600px;
        }
      }
    }
  }
}
