@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-family-base: "Poppins", sans-serif;

$primary: rgb(252, 252, 252);
$warning: rgb(236, 126, 177);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "body";
@import "navbar";
@import "header";
@import "footer";
@import "index";
@import "card";
@import "form";
