@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-family-base: "Poppins", sans-serif;

$primary: rgb(248, 229, 229);

$secondary: rgb(255, 188, 185);

$terciary: rgb(253, 212, 100);

$navbar1: rgb(230, 170, 245);

$navbar2: rgb(149, 22, 180);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "body";
@import "navbar";
@import "header";
